#page {
	background-color: #ff99bb;
	margin: 0px 0px 0px 0px;
}

p {
	color:red;
	text-align: right;
}

h1 {
	font-size: 80px;
	text-align: center;

}
#title-left {

	display: inline-block;
	width: 49%;
	margin: 0px 0px 0px 0px;
}

#title-right {
	display: inline-block;
	width: 49%;
	margin: 0px 0px 0px 0px;
}

#title2 {
	text-align: left;
	font-size: 50px;
	color: blue;

}

.blue {
	color:blue;
}

#dog {
	border: 8px solid #AA6688;
	border-radius: 10px;
	left: 35%;
	position: relative;

}

#dog:hover {
	width:60%;
	height:40%;
	left: 20%;
	position: relative;   
}
